*{
    margin: 0;
    padding: 0;
    text-decoration:none;
    font-family: "微软雅黑";
}

.top{
    width: 100%;
    height: 120px;
    /*background-color: #e53935;*/
    padding-top: 50px;
    box-sizing: border-box;
}
.top .DaoHang{
    width: 536px;
    height: 68px;
    /*background-color: #007dff;*/
    margin-left: 740px;
    float: left;
}
.top .DaoHang .sy{
    width: 80px;
    height:51px;
    /*background-color: #fff100;*/
    border-bottom:2px solid  #c40000 ;
    box-sizing: border-box;
    float: left;
}
.top .DaoHang .sy a{
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 51px;
    color: #c40000;
    font-family: 微软雅黑;
    font-size: 16px;
}
.top .DaoHang .yhhd{
    width: 84px;
    height: 51px;
    /*background-color: #fff100;*/
    float: left;
    margin-left: 20px;
}
.top .DaoHang .yhhd a{
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 51px;
    font-family: 微软雅黑;
    font-size: 16px;
    color: #666666;
}
.top .DaoHang .jmcd{
    width: 84px;
    height: 51px;
    /*background-color: #fff100;*/
    float: left;
    margin-left: 20px;
}
.top .DaoHang .jmcd a{
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 51px;
    font-family: 微软雅黑;
    font-size: 16px;
    color: #666666;
}
.top .DaoHang .jmwm{
    width: 84px;
    height: 51px;
    /*background-color: #fff100;*/
    float: left;
    margin-left: 20px;
}
.top .DaoHang .jmwm a{
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 51px;
    font-family: 微软雅黑;
    font-size: 16px;
    color: #666666;
}
.top .DaoHang .gywm{
    width: 84px;
    height: 51px;
    /*background-color: #fff100;*/
    float: left;
    margin-left: 20px;
}
.top .DaoHang .gywm a{
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 51px;
    font-family: 微软雅黑;
    font-size: 16px;
    color: #666666;
}
.lunbo{
    width: 100%;
    height: 378px;
    background: #007dff;
    margin-top: 20px;
    background-image: url("../img/30.jpg");
    background-position:-200px;
}
.gushi{
    width: 100%;
    height: 630px;
    background: #fff;
    padding-top: 60px;
    box-sizing: border-box;
    padding-right: 160px;
    padding-left: 200px;
}
.gushi .gu{
    height: 366px;
    width: 100%;
    /*background: #ff6700;*/
    display: flex;
}
.gushi .gu .tu{
    width: 419px;
    height: 366px;
    /*background: #c40000;*/


}
.gushi .gu .zi{
    flex-grow:1;
    /*background: #007dff;*/
    padding-left: 120px;
    box-sizing: border-box;
    padding-top: 50px;
    position: relative;
}
.gushi .gu .zi .z1{
    display: block;
    width: 100%;
    font-size: 36px;
    color: rgb(196, 0, 0);
    height: 25px;
    line-height: 25px;
}
.gushi .gu .zi .z2{
    display: block;
    width: 100%;
    color: rgb(194, 194, 194);
    font-size: 12px;
    height: 25px;
    line-height: 25px;
    margin-top: 10px;
}
.gushi .gu .zi p{
    font-size: 16px;
    color: rgb(102, 102, 102);
    margin-top: 30px;
}
.gushi .gu .zi .z3{
    display: block;
    width: 100%;
    height: 25px;
    line-height: 25px;
    margin-top: 80px;
    text-align: right;
    color: rgb(102, 102, 102);
    font-size: 16px;
}
.gushi .gu .zi img{
    display: block;
    position: absolute;
    top:24px;
    left: 646px;
}
.gushi .huan{
    width: 100%;
    height: 204px;
    /*background: #ff6700;*/
    padding-top: 60px;
    box-sizing: border-box;
}
.gushi .huan .hh{
    width: 300px;
    height: 93px;
    /*background: #c40000;*/
    margin: 0 auto;
}
.gushi .huan .hh b{
    display: block;
    width: 100%;
    color: rgb(0, 0, 0);
    font-size: 30px;
    text-align: center;
}
.gushi .huan .hh .zz1 {
    display: block;
    width: 100%;
    font-size: 18px;
    text-align: center;
    color: #666666;
}
.gushi .huan .hh .zz2 {
    display: block;
    width: 100%;
    color: rgb(196, 0, 0);
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}
.huanjing{
    width: 100%;
    height: 952px;
    background: #f5f5f5;
    padding: 80px 160px;
    box-sizing: border-box;
}
.huanjing .qiantai{
    width: 100%;
    height: 228px;
    /*background: #ff6700;*/
    display: flex;
    justify-content: space-between;
}
.huanjing .qiantai .h2{
    background-image: url("../img/66.png");
}
.huanjing .qiantai .h2 img {
    display: block;
    margin: auto auto;
    margin-top: 60px;
}
.huanjing .qiantai .h2 b{
    display: block;
    font-size: 24px;
    color: rgb(4, 4, 4);
    text-align: center;
    margin-top: -72px;
}
.yc{
    width: 295px;
    height: 536px;
    /*background: #ff6700;*/
    float: left;
    margin-top: 10px;
}
.y{
    width: 100%;
    height: 231px;
    /*background: #c40000;*/
    position: relative;
}
.yc .y .hh2 {
    display: block;
    width: 295px;
    height: 231px;
}


.yc .y .hh1{
    display: block;
    position: absolute;
    top:60px;
    left: 100px;
}
.yc .y b{
    display: block;
    position: absolute;
    top:96px;
    left: 106px;
    font-size: 24px;
    color: rgb(4, 4, 4);
    /*width: 100%;*/
}
.c{
    width: 100%;
    height: 295px;
    /*background: #007dff;*/
    margin-top: 10px;
}
.huanjing .bx{
    width: 566px;
    height:536px;
    /*background: #ff6700;*/
    float: left;
    margin-left: 10px;
    margin-top: 10px;
}
.huanjing .bx .b{
    width: 100%;
    height: 338px;
    /*background: #007dff;*/
}
.huanjing .bx .x{
    width: 100%;
    height: 188px;
    /*background: #999999;*/
    margin-top: 10px;
    background-image: url("../img/68.jpg");
}
.huanjing .bx .x img {
    display: block;
    margin: 0 auto;
    padding-top: 50px;
}
.huanjing .bx .x  b{
    display: block;
    font-size: 24px;
    margin-top: -64px;
    margin-left: 230px;
}
.huanjing .sn{
    width: 306px;
    height:536px ;
    /*background: #007dff;*/
    float: left;
    margin-left: 22px;
    margin-top: 10px;
}
.huanjing .sn .s {
    width: 100%;
    height: 255px;
    /*background: #ff6700;*/
    background-image: url("../img/78.jpg");
}
.huanjing .sn .s b {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 24px;
    height: 35px;
    line-height: 35px;
    padding-top: 40px;
    box-sizing: border-box;
}
.huanjing .sn .s p {
    width: 238px;
    height: 123.2px;
    font-size: 14px;
    color: rgb(102, 102, 102);
    margin: auto auto;
    margin-top: 40px;
}
.huanjing .sn .n{
    width: 100%;
    height: 264px;
    /*background: #c40000;*/
    margin-top: 17px;
}
.md{
    width: 100%;
    height: 1000px;
    background: #fff;
    padding:  0 160px;
    box-sizing: border-box;
    border-bottom: 3px solid #c40000;
}
.md .huan{
    width: 100%;
    height: 204px;
    /*background: #ff6700;*/
    padding-top: 60px;
    box-sizing: border-box;
}
.md .huan .hh{
    width: 300px;
    height: 93px;
    /*background: #c40000;*/
    margin: 0 auto;
}
.md .huan .hh b{
    display: block;
    width: 100%;
    color: rgb(0, 0, 0);
    font-size: 30px;
    text-align: center;
}
.md .huan .hh .zz1 {
    display: block;
    width: 100%;
    font-size: 18px;
    text-align: center;
    color: #666666;
}
.md .huan .hh .zz2 {
    display: block;
    width: 100%;
    color: rgb(196, 0, 0);
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}
.md .m{
    width: 100%;
    height: 690px;
    /*background: #007dff;*/
}
.md .m .mm1{
    width: 576px;
    height: 306px;
    background: #c40000;
    float: left;
    margin-bottom: 46px;
}
.md .m .mm2{
    width: 571px;
    height: 306px;
    /*background: #c40000;*/
    float: left;
    margin-left: 52px;
    background-image: url("../img/79.png");
    padding: 20px 30px;
    box-sizing: border-box;
    position: relative;
    margin-bottom: 46px;
}
.md .m .mm2 b{
    display: block;
    width: 100%;
    line-height: 50px;
    font-size: 30px;
    height: 50px;
}
.md .m .mm2 .logo{
    width: 100%;
    height: 30px;
    /*background: #fff100;*/
}
.md .m .mm2 .logo .go1 {
    width:160px ;
    height: 100%;
    /*background: #ff6700;*/
    float: left;
}
.md .m .mm2 .logo .go1 span {
    width: 83px;
    display: block;
    font-size: 16px;
    line-height: 30px;
    float: left;
    margin-left: 10px;
}
.md .m .mm2 .zz4 {
    display: block;
    width: 56px;
    height: 25px;
    font-size: 14px;
    color: rgb(102, 102, 102);
    font-weight: bold;
    line-height: 25px;
    margin-top: 40px;
    float: left;
}
.md .m .mm2 .zz42 {
    display: block;
    width: 206px;
    height: 25px;
    font-size: 14px;
    color: #666666;
    margin-top: 40px;
    float: left;
    line-height: 25px;
}
.md .m .mm2 .zz5 {
    display: block;
    width: 70px;
    height: 25px;
    font-size: 14px;
    color: rgb(102, 102, 102);
    font-weight: bold;
    line-height: 25px;
    /*float: left;*/
}
.md .m .mm2 .zz52 {
    display: block;
    width: 206px;
    height: 25px;
    font-size: 14px;
    color: #666666;
    margin-top: 40px;
    /*float: left;*/
    line-height: 25px;
    margin-left: 75px;
}
.md .m .mm2 .zz6 {
    display: block;
    width: 70px;
    height: 25px;
    font-size: 14px;
    color: rgb(102, 102, 102);
    font-weight: bold;
    line-height: 25px;
}
.md .m .mm2 .zz62 {
    display: block;
    width: 206px;
    height: 25px;
    font-size: 14px;
    color: #666666;
    margin-top: -24px;
    /*float: left;*/
    line-height: 25px;
    margin-left: 75px;
}
.md .m .mm2 .zz7 {
    display: block;
    width: 70px;
    height: 25px;
    font-size: 14px;
    color: rgb(102, 102, 102);
    font-weight: bold;
    line-height: 25px;
}
.md .m .mm2 .zz72 {
    width: 400px;
    font-size: 14px;
    color: #666666;
    position: absolute;
    top:218px;
    left:100px;
}
.bottom{
    width: 100%;
    height: 344px;
    background: #000000;
    padding: 50px 0;
    box-sizing: border-box;
}
.bottom img{
    display: block;
    margin: 0 auto;
}
.bottom span{
    display: block;
    margin-top: -58px;
    color: rgb(255, 255, 255);
    font-size: 30px;
    text-align: center;
}
.bottom .lala{
    width: 500px;
    /*height: px;*/
    /*background: #007dff;*/
    margin-top: 150px;
    display: flex;
    padding: 0 100px;
    box-sizing: border-box;



}
.bottom .lala span{
    /*display: block;*/
    color: #999999;
    font-size: 12px;
    margin-left: 200px;

}