*{
    margin: 0;
    padding: 0;
    text-decoration:none;
    font-family: "微软雅黑";
}
.top{
    width: 100%;
    height: 120px;
    /*background-color: #e53935;*/
    padding-top: 50px;
    box-sizing: border-box;
}
.top .DaoHang{
    width: 536px;
    height: 68px;
    /*background-color: #007dff;*/
    margin-left: 740px;
    float: left;
}
.top .DaoHang .sy{
    width: 80px;
    height:51px;
    /*background-color: #fff100;*/
    border-bottom:2px solid  #c40000 ;
    box-sizing: border-box;
    float: left;
}
.top .DaoHang .sy a{
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 51px;
    color: #c40000;
    font-family: 微软雅黑;
    font-size: 16px;
}
.top .DaoHang .yhhd{
    width: 84px;
    height: 51px;
    /*background-color: #fff100;*/
    float: left;
    margin-left: 20px;
}
.top .DaoHang .yhhd a{
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 51px;
    font-family: 微软雅黑;
    font-size: 16px;
    color: #666666;
}
.top .DaoHang .jmcd{
    width: 84px;
    height: 51px;
    /*background-color: #fff100;*/
    float: left;
    margin-left: 20px;
}
.top .DaoHang .jmcd a{
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 51px;
    font-family: 微软雅黑;
    font-size: 16px;
    color: #666666;
}
.top .DaoHang .jmwm{
    width: 84px;
    height: 51px;
    /*background-color: #fff100;*/
    float: left;
    margin-left: 20px;
}
.top .DaoHang .jmwm a{
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 51px;
    font-family: 微软雅黑;
    font-size: 16px;
    color: #666666;
}
.top .DaoHang .gywm{
    width: 84px;
    height: 51px;
    /*background-color: #fff100;*/
    float: left;
    margin-left: 20px;
}
.top .DaoHang .gywm a{
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 51px;
    font-family: 微软雅黑;
    font-size: 16px;
    color: #666666;
}
.lunbo{
    width: 100%;
    height: 380px;
    background-image: url("../img/50.jpg");
    margin-top: 20px;
}
.jiameng{
    width: 100%;
    height: 200px;
    background: #fff;
    padding-top: 60px;
    box-sizing: border-box;
}
.jiameng .jia{
    width: 300px;
    height: 94px;
    background: #fff;
    margin: 0 auto;
}
.jiameng .jia b{
    display: block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 30px;
}
.jiameng .jia span{
    display: block;
    width: 100%;
    text-align: center;
    font-size: 18px;
    color: #666666;
    height: 30px;
    line-height: 30px;
}
.ys{
    width: 100%;
    height: 664px;
    background: #f5f5f5;
    padding-top: 80px;
    box-sizing: border-box;
    padding-left: 160px;
    padding-right: 160px;
    border-bottom: 3px solid #c40000;

}
.ys .doushizi{
    width: 100%;
    height: 179px;
    display: flex;
    justify-content: space-between;

}
.ys .doushizi .zi{
    width: 372px;
    height: 179px;
    /*background: #ff6700;*/
    display: flex;
    justify-content: space-between;
    flex-direction:column;

}
.ys .doushizi .zi .z1{
    display: block;
    width: 100%;
    height: 50px;
    font-size: 36px;
    line-height: 50px;
    text-align: left;
    color: rgb(196, 0, 0);
}
.ys .doushizi .zi .z2{
    display: block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: left;
    font-size: 20px;
    color: rgb(53, 53, 53);
}
.ys .doushizi .zi p{
    display: block;
    font-size: 14px;
    line-height: 30px;
    height: 30px;
    text-align: left;
    color: rgb(102, 102, 102);
}
.ys .tu{
    width: 100%;
    height: 22px;
    /*background: #007dff;*/
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}
.ys .tu2{
    width: 100%;
    height: 186px;
    margin-top: 50px;
    /*background: #ff6700;*/
    display: flex;
    justify-content: space-between;

}
.bottom{
    width: 100%;
    height: 344px;
    background: #000000;
    padding: 50px 0;
    box-sizing: border-box;
}
.bottom img{
    display: block;
    margin: 0 auto;
}
.bottom span{
    display: block;
    margin-top: -58px;
    color: rgb(255, 255, 255);
    font-size: 30px;
    text-align: center;
}
.bottom .lala{
    width: 500px;
    /*height: px;*/
    /*background: #007dff;*/
    margin-top: 150px;
    display: flex;
    padding: 0 100px;
    box-sizing: border-box;



}
.bottom .lala span{
    /*display: block;*/
    color: #999999;
    font-size: 12px;
    margin-left: 200px;

}


